*{
  box-sizing: border-box;
  background-color: #1c222f;
  margin: 0;
  padding: 0;
}

i{
  background-color: inherit;
}

ul, li, a, button{
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
  background-color: rgb(23, 42, 66);
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: rgb(23, 42, 66);
}

.navbar{
  list-style: none;
}

.navbar li{
  display: inline-block;
  padding: 0px 20px;
}

.navbar li a{
  transition: all 0.3s ease 0s;
}

.navbar li a:hover:not(.active){
  
  padding: 10px 35px;
  border-radius: 5px;
  background-color: gray;
}

.active{
  padding: 10px 35px;
  color: #016bee;
  border-bottom: solid #016bee 3px;
}

button{
  padding: 9px 25px;
  background-color: #016bee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
